@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import "tailwindcss";

@utility text-stroke-name {
    -webkit-text-stroke-width: 1.6px;
    -webkit-text-stroke-color: #D4C9BE;
}

@utility text-stroke-sub {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D4C9BE;
}

@utility text-stroke-name-tablet {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #D4C9BE;
}

@utility text-stroke-sub-tablet {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #D4C9BE;
}

@utility text-stroke-name-mobile {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #D4C9BE;
}

@utility text-stroke-sub-mobile {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #D4C9BE;
}

@theme {
   --breakpoint-tiny: 380px;
   --breakpoint-form: 560px;
}

:root {
  --header-color: #D4C9BE;
  --body-color: #EEEBE4;
  --background-color: #F1EFEC;
  --text-color: #123458;
  --hover-text-color: #2469b2;
  --title-font: "Source Serif Pro"
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Hiragino Sans"
}

h1,
nav {
  font-family: "Source Serif Pro";
}
