@import "tailwindcss";


:root {
  --header-color: #D4C9BE;
  --body-color: #EEEBE4;
  --background-color: #F1EFEC;
  --text-color: #123458;
}


body {
  background-color: var(--background-color);
  color: var(--text-color)
}